In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('PPD_Training_Master_GBK_3_1_Training_Set.csv',encoding='gb18030')

In [28]:
train['UserInfo_9']

0        中国移动
1        中国移动
2        中国电信
3        中国移动
4        中国移动
5           不详
6        中国移动
7        中国联通
8        中国移动
9        中国移动
10       中国联通
11       中国移动
12       中国移动
13       中国移动
14        中国联通
15        中国电信
16       中国联通
17       中国联通
18       中国移动
19       中国联通
20       中国移动
21        中国联通
22       中国移动
23          不详
24       中国移动
25       中国移动
26       中国移动
27       中国移动
28       中国移动
29       中国移动
         ...
29970       不详
29971    中国移动
29972    中国移动
29973    中国联通
29974    中国移动
29975    中国移动
29976     中国移动
29977    中国移动
29978    中国移动
29979    中国移动
29980    中国移动
29981     中国移动
29982    中国电信
29983    中国移动
29984       不详
29985     中国电信
29986    中国移动
29987    中国移动
29988    中国移动
29989    中国移动
29990       不详
29991    中国移动
29992    中国移动
29993     中国移动
29994       不详
29995    中国联通
29996    中国移动
29997       不详
29998       不详
29999    中国电信
Name: UserInfo_9, dtype: object

In [29]:
train['UserInfo_8']

0         深圳
1         温州
2         宜昌
3         南平
4         辽阳
5         不详
6         包头
7         广州
8         赤峰
9         鄂州
10        武汉
11        长沙
12        漳州
13       牡丹江
14       太原市
15        北京
16        忻州
17        三明
18        临沂
19        临沂
20        福州
21       泰州市
22        大同
23        不详
24        红河
25        南平
26        郴州
27        常州
28        湖州
29        佛山
        ...
29970     不详
29971     惠州
29972     温州
29973     佛山
29974     东莞
29975     镇江
29976    苏州市
29977     福州
29978     三明
29979     深圳
29980     思茅
29981    邵阳市
29982     泉州
29983     广州
29984     不详
29985    南昌市
29986     广州
29987     扬州
29988     荆门
29989     青岛
29990     不详
29991     晋中
29992     运城
29993     北京
29994     不详
29995     南阳
29996     宁德
29997     不详
29998     不详
29999     金华
Name: UserInfo_8, dtype: object

In [14]:
loginfo = pd.read_csv('PPD_LogInfo_3_1_Training_Set.csv', encoding='gb18030')

In [15]:
loginfo.head()

     Idx Listinginfo1  LogInfo1  LogInfo2    LogInfo3
0  10001   2014-03-05       107         6  2014-02-20
1  10001   2014-03-05       107         6  2014-02-23
2  10001   2014-03-05       107         6  2014-02-24
3  10001   2014-03-05       107         6  2014-02-25
4  10001   2014-03-05       107         6  2014-02-27

In [16]:
updateinfo = pd.read_csv('PPD_Userupdate_Info_3_1_Training_Set.csv', encoding='gb18030')

In [17]:
updateinfo.columns

Index([u'Idx', u'ListingInfo1', u'UserupdateInfo1', u'UserupdateInfo2'], dtype='object')

In [18]:
updateinfo.head()

     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014/03/05       _EducationId      2014/02/20
1  10001   2014/03/05         _HasBuyCar      2014/02/20
2  10001   2014/03/05    _LastUpdateDate      2014/02/20
3  10001   2014/03/05  _MarriageStatusId      2014/02/20
4  10001   2014/03/05       _MobilePhone      2014/02/20

In [22]:
updateinfo[updateinfo['UserupdateInfo1']=='_qQ']

          Idx ListingInfo1 UserupdateInfo1 UserupdateInfo2
24      10002   2014/02/26             _qQ      2013/06/21
956     10189   2014/03/04             _qQ      2013/05/17
1253     1027   2013/11/21             _qQ      2013/07/15
1364    10299   2014/02/24             _qQ      2012/11/08
2039    10411   2014/03/10             _qQ      2013/01/21
2628     1051   2013/11/18             _qQ      2013/07/26
4099    10874   2014/02/28             _qQ      2013/07/14
4218    10896   2014/03/03             _qQ      2013/07/14
5049    11057   2014/03/07             _qQ      2013/01/27
5457    11161   2014/03/07             _qQ      2013/04/03
5522    11182   2014/03/05             _qQ      2013/06/27
6180    11317   2014/03/07             _qQ      2013/06/16
7000    11498   2014/03/10             _qQ      2013/02/26
7729    11645   2014/03/17             _qQ      2013/07/14
7982    11708   2014/03/10             _qQ      2013/06/26
8395    11802   2014/03/19             _qQ      2013/01/23
9407     1204   2013/11/21             _qQ      2013/07/13
9778    12104   2014/03/06             _qQ      2013/08/05
9985    12151   2014/03/09             _qQ      2013/08/14
10400    1229   2013/11/22             _qQ      2012/10/26
11318    1249   2013/11/22             _qQ      2013/07/14
11744   12576   2014/03/12             _qQ      2013/02/25
13073   12905   2014/03/14             _qQ      2013/06/28
13695   13043   2014/03/21             _qQ      2012/10/28
14824   13340   2014/03/13             _qQ      2013/06/01
14945   13368   2014/03/14             _qQ      2013/06/27
15557    1351   2013/11/25             _qQ      2013/02/05
16494   13727   2014/03/18             _qQ      2012/11/24
17044   13856   2014/03/20             _qQ      2013/06/01
19352   14389   2014/03/24             _qQ      2013/04/25
...       ...          ...             ...             ...
336994    842   2013/11/18             _qQ      2012/09/07
339141  84747   2014/10/17             _qQ      2013/01/17
340270    850   2013/11/15             _qQ      2013/05/23
340446  85025   2014/10/18             _qQ      2013/06/23
340628  85073   2014/10/20             _qQ      2013/05/21
341587  85336   2014/10/17             _qQ      2013/07/31
341821  85382   2014/10/25             _qQ      2013/01/04
343012   8565   2014/02/14             _qQ      2013/06/28
347171  86590   2014/10/21             _qQ      2013/06/19
348997  87023   2014/10/22             _qQ      2012/11/25
350267  87312   2014/10/24             _qQ      2013/08/08
350628  87407   2014/10/22             _qQ      2013/06/30
351668  87624   2014/10/24             _qQ      2013/02/13
352006    877   2013/11/15             _qQ      2013/07/14
353685    881   2013/11/18             _qQ      2013/03/01
353810  88120   2014/10/28             _qQ      2013/07/24
354593   8831   2014/02/21             _qQ      2013/06/25
356340  88663   2014/10/27             _qQ      2013/08/14
357552  88920   2014/10/27             _qQ      2013/08/03
363554  90405   2014/10/30             _qQ      2013/03/22
364495   9061   2014/03/12             _qQ      2013/05/19
368537  91672   2014/11/03             _qQ      2013/03/27
369045   9271   2014/02/24             _qQ      2012/11/26
369457    937   2013/11/21             _qQ      2012/09/05
370140    951   2013/11/16             _qQ      2013/03/15
370969   9672   2014/02/22             _qQ      2013/06/27
371337   9746   2014/02/24             _qQ      2013/03/10
371525   9777   2014/02/20             _qQ      2013/07/16
371574   9781   2014/02/19             _qQ      2012/10/07
371950   9876   2014/02/21             _qQ      2013/06/10

[361 rows x 4 columns]

In [23]:
updateinfo['UserupdateInfo1'].unique()

array([u'_EducationId', u'_HasBuyCar', u'_LastUpdateDate',
       u'_MarriageStatusId', u'_MobilePhone', u'_QQ', u'_ResidenceAddress',
       u'_ResidencePhone', u'_ResidenceTypeId', u'_ResidenceYears',
       u'_age', u'_educationId', u'_gender', u'_hasBuyCar', u'_idNumber',
       u'_lastUpdateDate', u'_marriageStatusId', u'_mobilePhone', u'_qQ',
       u'_realName', u'_regStepId', u'_residenceAddress',
       u'_residencePhone', u'_residenceTypeId', u'_residenceYears',
       u'_IsCash', u'_CompanyPhone', u'_IdNumber', u'_Phone', u'_RealName',
       u'_CompanyName', u'_Age', u'_Gender', u'_OtherWebShopType',
       u'_turnover', u'_WebShopTypeId', u'_RelationshipId',
       u'_CompanyAddress', u'_Department', u'_flag_UCtoBcp',
       u'_flag_UCtoPVR', u'_WorkYears', u'_ByUserId', u'_DormitoryPhone',
       u'_IncomeFrom', u'_CompanyTypeId', u'_CompanySizeId',
       u'_companyTypeId', u'_department', u'_companyAddress',
       u'_workYears', u'_contactId', u'_creationDate', u'_flag_UCtoBCP',
       u'_orderId', u'_phone', u'_relationshipId', u'_userId',
       u'_companyName', u'_companyPhone', u'_isCash', u'_BussinessAddress',
       u'_webShopUrl', u'_WebShopUrl', u'_SchoolName',
       u'_HasBusinessLicense', u'_dormitoryPhone', u'_incomeFrom',
       u'_schoolName', u'_NickName', u'_CreationDate', u'_CityId',
       u'_DistrictId', u'_ProvinceId', u'_GraduateDate',
       u'_GraduateSchool', u'_IdAddress', u'_companySizeId',
       u'_HasPPDaiAccount', u'_PhoneType', u'_PPDaiAccount',
       u'_SecondEmail', u'_SecondMobile', u'_nickName', u'_HasSbOrGjj',
       u'_Position'], dtype=object)

In [11]:
len(train)

30000

In [5]:
list(train.columns)

[u'Idx',
 u'UserInfo_1',
 u'UserInfo_2',
 u'UserInfo_3',
 u'UserInfo_4',
 u'WeblogInfo_1',
 u'WeblogInfo_2',
 u'WeblogInfo_3',
 u'WeblogInfo_4',
 u'WeblogInfo_5',
 u'WeblogInfo_6',
 u'WeblogInfo_7',
 u'WeblogInfo_8',
 u'WeblogInfo_9',
 u'WeblogInfo_10',
 u'WeblogInfo_11',
 u'WeblogInfo_12',
 u'WeblogInfo_13',
 u'WeblogInfo_14',
 u'WeblogInfo_15',
 u'WeblogInfo_16',
 u'WeblogInfo_17',
 u'WeblogInfo_18',
 u'UserInfo_5',
 u'UserInfo_6',
 u'UserInfo_7',
 u'UserInfo_8',
 u'UserInfo_9',
 u'UserInfo_10',
 u'UserInfo_11',
 u'UserInfo_12',
 u'UserInfo_13',
 u'UserInfo_14',
 u'UserInfo_15',
 u'UserInfo_16',
 u'UserInfo_17',
 u'UserInfo_18',
 u'UserInfo_19',
 u'UserInfo_20',
 u'UserInfo_21',
 u'UserInfo_22',
 u'UserInfo_23',
 u'UserInfo_24',
 u'Education_Info1',
 u'Education_Info2',
 u'Education_Info3',
 u'Education_Info4',
 u'Education_Info5',
 u'Education_Info6',
 u'Education_Info7',
 u'Education_Info8',
 u'WeblogInfo_19',
 u'WeblogInfo_20',
 u'WeblogInfo_21',
 u'WeblogInfo_23',
 u'WeblogInfo_24',
 u'WeblogInfo_25',
 u'WeblogInfo_26',
 u'WeblogInfo_27',
 u'WeblogInfo_28',
 u'WeblogInfo_29',
 u'WeblogInfo_30',
 u'WeblogInfo_31',
 u'WeblogInfo_32',
 u'WeblogInfo_33',
 u'WeblogInfo_34',
 u'WeblogInfo_35',
 u'WeblogInfo_36',
 u'WeblogInfo_37',
 u'WeblogInfo_38',
 u'WeblogInfo_39',
 u'WeblogInfo_40',
 u'WeblogInfo_41',
 u'WeblogInfo_42',
 u'WeblogInfo_43',
 u'WeblogInfo_44',
 u'WeblogInfo_45',
 u'WeblogInfo_46',
 u'WeblogInfo_47',
 u'WeblogInfo_48',
 u'WeblogInfo_49',
 u'WeblogInfo_50',
 u'WeblogInfo_51',
 u'WeblogInfo_52',
 u'WeblogInfo_53',
 u'WeblogInfo_54',
 u'WeblogInfo_55',
 u'WeblogInfo_56',
 u'WeblogInfo_57',
 u'WeblogInfo_58',
 u'ThirdParty_Info_Period1_1',
 u'ThirdParty_Info_Period1_2',
 u'ThirdParty_Info_Period1_3',
 u'ThirdParty_Info_Period1_4',
 u'ThirdParty_Info_Period1_5',
 u'ThirdParty_Info_Period1_6',
 u'ThirdParty_Info_Period1_7',
 u'ThirdParty_Info_Period1_8',
 u'ThirdParty_Info_Period1_9',
 u'ThirdParty_Info_Period1_10',
 u'ThirdParty_Info_Period1_11',
 u'ThirdParty_Info_Period1_12',
 u'ThirdParty_Info_Period1_13',
 u'ThirdParty_Info_Period1_14',
 u'ThirdParty_Info_Period1_15',
 u'ThirdParty_Info_Period1_16',
 u'ThirdParty_Info_Period1_17',
 u'ThirdParty_Info_Period2_1',
 u'ThirdParty_Info_Period2_2',
 u'ThirdParty_Info_Period2_3',
 u'ThirdParty_Info_Period2_4',
 u'ThirdParty_Info_Period2_5',
 u'ThirdParty_Info_Period2_6',
 u'ThirdParty_Info_Period2_7',
 u'ThirdParty_Info_Period2_8',
 u'ThirdParty_Info_Period2_9',
 u'ThirdParty_Info_Period2_10',
 u'ThirdParty_Info_Period2_11',
 u'ThirdParty_Info_Period2_12',
 u'ThirdParty_Info_Period2_13',
 u'ThirdParty_Info_Period2_14',
 u'ThirdParty_Info_Period2_15',
 u'ThirdParty_Info_Period2_16',
 u'ThirdParty_Info_Period2_17',
 u'ThirdParty_Info_Period3_1',
 u'ThirdParty_Info_Period3_2',
 u'ThirdParty_Info_Period3_3',
 u'ThirdParty_Info_Period3_4',
 u'ThirdParty_Info_Period3_5',
 u'ThirdParty_Info_Period3_6',
 u'ThirdParty_Info_Period3_7',
 u'ThirdParty_Info_Period3_8',
 u'ThirdParty_Info_Period3_9',
 u'ThirdParty_Info_Period3_10',
 u'ThirdParty_Info_Period3_11',
 u'ThirdParty_Info_Period3_12',
 u'ThirdParty_Info_Period3_13',
 u'ThirdParty_Info_Period3_14',
 u'ThirdParty_Info_Period3_15',
 u'ThirdParty_Info_Period3_16',
 u'ThirdParty_Info_Period3_17',
 u'ThirdParty_Info_Period4_1',
 u'ThirdParty_Info_Period4_2',
 u'ThirdParty_Info_Period4_3',
 u'ThirdParty_Info_Period4_4',
 u'ThirdParty_Info_Period4_5',
 u'ThirdParty_Info_Period4_6',
 u'ThirdParty_Info_Period4_7',
 u'ThirdParty_Info_Period4_8',
 u'ThirdParty_Info_Period4_9',
 u'ThirdParty_Info_Period4_10',
 u'ThirdParty_Info_Period4_11',
 u'ThirdParty_Info_Period4_12',
 u'ThirdParty_Info_Period4_13',
 u'ThirdParty_Info_Period4_14',
 u'ThirdParty_Info_Period4_15',
 u'ThirdParty_Info_Period4_16',
 u'ThirdParty_Info_Period4_17',
 u'ThirdParty_Info_Period5_1',
 u'ThirdParty_Info_Period5_2',
 u'ThirdParty_Info_Period5_3',
 u'ThirdParty_Info_Period5_4',
 u'ThirdParty_Info_Period5_5',
 u'ThirdParty_Info_Period5_6',
 u'ThirdParty_Info_Period5_7',
 u'ThirdParty_Info_Period5_8',
 u'ThirdParty_Info_Period5_9',
 u'ThirdParty_Info_Period5_10',
 u'ThirdParty_Info_Period5_11',
 u'ThirdParty_Info_Period5_12',
 u'ThirdParty_Info_Period5_13',
 u'ThirdParty_Info_Period5_14',
 u'ThirdParty_Info_Period5_15',
 u'ThirdParty_Info_Period5_16',
 u'ThirdParty_Info_Period5_17',
 u'ThirdParty_Info_Period6_1',
 u'ThirdParty_Info_Period6_2',
 u'ThirdParty_Info_Period6_3',
 u'ThirdParty_Info_Period6_4',
 u'ThirdParty_Info_Period6_5',
 u'ThirdParty_Info_Period6_6',
 u'ThirdParty_Info_Period6_7',
 u'ThirdParty_Info_Period6_8',
 u'ThirdParty_Info_Period6_9',
 u'ThirdParty_Info_Period6_10',
 u'ThirdParty_Info_Period6_11',
 u'ThirdParty_Info_Period6_12',
 u'ThirdParty_Info_Period6_13',
 u'ThirdParty_Info_Period6_14',
 u'ThirdParty_Info_Period6_15',
 u'ThirdParty_Info_Period6_16',
 u'ThirdParty_Info_Period6_17',
 u'ThirdParty_Info_Period7_1',
 u'ThirdParty_Info_Period7_2',
 u'ThirdParty_Info_Period7_3',
 u'ThirdParty_Info_Period7_4',
 u'ThirdParty_Info_Period7_5',
 u'ThirdParty_Info_Period7_6',
 u'ThirdParty_Info_Period7_7',
 u'ThirdParty_Info_Period7_8',
 u'ThirdParty_Info_Period7_9',
 u'ThirdParty_Info_Period7_10',
 u'ThirdParty_Info_Period7_11',
 u'ThirdParty_Info_Period7_12',
 u'ThirdParty_Info_Period7_13',
 u'ThirdParty_Info_Period7_14',
 u'ThirdParty_Info_Period7_15',
 u'ThirdParty_Info_Period7_16',
 u'ThirdParty_Info_Period7_17',
 u'SocialNetwork_1',
 u'SocialNetwork_2',
 u'SocialNetwork_3',
 u'SocialNetwork_4',
 u'SocialNetwork_5',
 u'SocialNetwork_6',
 u'SocialNetwork_7',
 u'SocialNetwork_8',
 u'SocialNetwork_9',
 u'SocialNetwork_10',
 u'SocialNetwork_11',
 u'SocialNetwork_12',
 u'SocialNetwork_13',
 u'SocialNetwork_14',
 u'SocialNetwork_15',
 u'SocialNetwork_16',
 u'SocialNetwork_17',
 u'target',
 u'ListingInfo']

In [6]:
train.head()

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,...,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target,ListingInfo
0,10001,1.0,深圳,4.0,深圳,NaN,1.0,NaN,1.0,1.0,...,222,-1,0,0,0,0,0,1,0,2014/3/5
1,10002,1.0,温州,4.0,温州,NaN,0.0,NaN,1.0,1.0,...,1,-1,0,0,0,0,0,2,0,2014/2/26
2,10003,1.0,宜昌,3.0,宜昌,NaN,0.0,NaN,2.0,2.0,...,-1,-1,-1,1,0,0,0,0,0,2014/2/28
3,10006,4.0,南平,1.0,南平,NaN,NaN,NaN,NaN,NaN,...,-1,-1,-1,0,0,0,0,0,0,2014/2/25
4,10007,5.0,辽阳,1.0,辽阳,NaN,0.0,NaN,1.0,1.0,...,-1,-1,-1,0,0,0,0,0,0,2014/2/27

In [13]:
train['UserInfo_11'].fillna('-1')

0        -1
1         0
2         0
3         0
4        -1
5        -1
6         1
7        -1
8        -1
9        -1
10        0
11       -1
12       -1
13       -1
14       -1
15        0
16        0
17       -1
18       -1
19        0
20       -1
21        0
22       -1
23        0
24       -1
25        0
26       -1
27       -1
28       -1
29       -1
         ..
29970    -1
29971    -1
29972     0
29973    -1
29974    -1
29975    -1
29976    -1
29977    -1
29978    -1
29979     0
29980     0
29981     0
29982    -1
29983    -1
29984    -1
29985    -1
29986    -1
29987     1
29988    -1
29989     1
29990    -1
29991    -1
29992     0
29993    -1
29994    -1
29995     0
29996    -1
29997     1
29998     0
29999    -1
Name: UserInfo_11, dtype: object

In [10]:
train.isnull().sum()

Idx                               0
UserInfo_1                        6
UserInfo_2                      302
UserInfo_3                        7
UserInfo_4                      268
WeblogInfo_1                  29030
WeblogInfo_2                   1658
WeblogInfo_3                  29030
WeblogInfo_4                   1651
WeblogInfo_5                   1651
WeblogInfo_6                   1651
WeblogInfo_7                      0
WeblogInfo_8                      0
WeblogInfo_9                      0
WeblogInfo_10                     0
WeblogInfo_11                     0
WeblogInfo_12                     0
WeblogInfo_13                     0
WeblogInfo_14                     0
WeblogInfo_15                     0
WeblogInfo_16                     0
WeblogInfo_17                     0
WeblogInfo_18                     0
UserInfo_5                        0
UserInfo_6                        0
UserInfo_7                        0
UserInfo_8                        0
UserInfo_9                        0
UserInfo_10                       0
UserInfo_11                   18909
                              ...
ThirdParty_Info_Period7_7         0
ThirdParty_Info_Period7_8         0
ThirdParty_Info_Period7_9         0
ThirdParty_Info_Period7_10        0
ThirdParty_Info_Period7_11        0
ThirdParty_Info_Period7_12        0
ThirdParty_Info_Period7_13        0
ThirdParty_Info_Period7_14        0
ThirdParty_Info_Period7_15        0
ThirdParty_Info_Period7_16        0
ThirdParty_Info_Period7_17        0
SocialNetwork_1                   0
SocialNetwork_2                   0
SocialNetwork_3                   0
SocialNetwork_4                   0
SocialNetwork_5                   0
SocialNetwork_6                   0
SocialNetwork_7                   0
SocialNetwork_8                   0
SocialNetwork_9                   0
SocialNetwork_10                  0
SocialNetwork_11                  0
SocialNetwork_12                  0
SocialNetwork_13                  0
SocialNetwork_14                  0
SocialNetwork_15                  0
SocialNetwork_16                  0
SocialNetwork_17                  0
target                            0
ListingInfo                       0
dtype: int64

In [12]:
train.isnull().sum(axis=1)

0        5
1        2
2        2
3        6
4        6
5        5
6        2
7        5
8        5
9        5
10       2
11       5
12       5
13       5
14       6
15       2
16       2
17       5
18       5
19       2
20       5
21       2
22       5
23       2
24       5
25       2
26       5
27       5
28       5
29       5
        ..
29970    5
29971    5
29972    2
29973    5
29974    6
29975    5
29976    5
29977    5
29978    5
29979    2
29980    4
29981    2
29982    5
29983    5
29984    5
29985    5
29986    6
29987    2
29988    5
29989    2
29990    5
29991    5
29992    2
29993    5
29994    9
29995    2
29996    5
29997    2
29998    2
29999    6
dtype: int64